<nav>
  <ul class="flex gap-4 max-w-5xl mx-auto text-left mt-12">
    <a
      href="/core/introduction"
      class="flex flex-col bg-white rounded-md hover:-translate-y-1 hover:shadow-lg transition-all flex-1 items-center p-4"
    >
      <img src="https://astro-design-system.vercel.app/Core.jpg" alt="Core" />
      <h2 class="text-lg font-medium">Core</h2>
      <p class="text-slate-500 text-sm">
        Base colors, typography, shadows, and more.
      </p>
    </a><a
      href="/components/buttons"
      class="flex flex-col bg-white rounded-md hover:-translate-y-1 hover:shadow-lg transition-all flex-1 items-center p-4"
    >
      <img
        src="https://astro-design-system.vercel.app/Components.jpg"
        alt="Components"
      />
      <h2 class="text-lg font-medium">Components</h2>
      <p class="text-slate-500 text-sm">The building blocks for our UI.</p>
    </a><a
      href="/patterns/introduction"
      class="flex flex-col bg-white rounded-md hover:-translate-y-1 hover:shadow-lg transition-all flex-1 items-center p-4"
    >
      <img
        src="https://astro-design-system.vercel.app/Patterns.jpg"
        alt="Patterns"
      />
      <h2 class="text-lg font-medium">Patterns</h2>
      <p class="text-slate-500 text-sm">
        Common patterns for building interfaces.
      </p>
    </a>
  </ul>
</nav>
