---
import Layout from '../layouts/Layout.astro';
import DocumentationMenu from './home/documentation-menu.astro';
import HomeHeader from './home/home-header.astro';
---

<Layout title="Welcome to Astro.">
  <main class="bg-slate-100">
    <HomeHeader />
    <DocumentationMenu />
  </main>
</Layout>
