<header
  class="p-3 bg-slate-100 bg-opacity-80 backdrop-blur-md border-b sticky top-0 text-black"
>
  <div class="flex justify-between items-center">
    <h1 class="text-2xl font-bold">
      <a href="/">Admin edge <span class="text-blue-800">docs</span></a>
    </h1>
    <nav>
      <ul class="flex space-x-4">
        <li><a href="/" class="hover:text-gray-200">Home</a></li>
        <li><a href="/about" class="hover:text-gray-200">About</a></li>
        <li><a href="/contact" class="hover:text-gray-200">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
