---
import DocsLayout from '../../layouts/docs-layout.astro';
import Code from './components/code.md';
---

<DocsLayout title="typeography page">
  <h2 class="text-xl">Introduction</h2>
  <div class="pt-12">
    <Code />
  </div>
</DocsLayout>
