---
import DocsLayout from '../../layouts/docs-layout.astro';
---

<DocsLayout title="typeography page">
  <section class="mt-12">
    <nav class="block sm:hidden"></nav>
    <h1>Typography</h1><div class="w-full">
      <div class="mt-6 border-t py-4">
        <p style="font-size: 22pt; font-weight: 400;">Hello world</p>
        <div class="flex gap-6 text-slate-500 font-mono">
          <span>h1</span>
          <span>weight: 400</span>
          <span>size: 22pt</span>
        </div>
      </div><div class="mt-6 border-t py-4">
        <p style="font-size: 17pt; font-weight: 500;">Hello world</p>
        <div class="flex gap-6 text-slate-500 font-mono">
          <span>h2</span>
          <span>weight: 500</span>
          <span>size: 17pt</span>
        </div>
      </div><div class="mt-6 border-t py-4">
        <p style="font-size: 13pt; font-weight: 600;">Hello world</p>
        <div class="flex gap-6 text-slate-500 font-mono">
          <span>h3</span>
          <span>weight: 600</span>
          <span>size: 13pt</span>
        </div>
      </div><div class="mt-6 border-t py-4">
        <p style="font-size: 13pt; font-weight: 500;">Hello world</p>
        <div class="flex gap-6 text-slate-500 font-mono">
          <span>h4</span>
          <span>weight: 500</span>
          <span>size: 13pt</span>
        </div>
      </div><div class="mt-6 border-t py-4">
        <p style="font-size: 13pt; font-weight: 400;">Hello world</p>
        <div class="flex gap-6 text-slate-500 font-mono">
          <span>body</span>
          <span>weight: 400</span>
          <span>size: 13pt</span>
        </div>
      </div><div class="mt-6 border-t py-4">
        <p style="font-size: 13pt; font-weight: 400;">Hello world</p>
        <div class="flex gap-6 text-slate-500 font-mono">
          <span>button</span>
          <span>weight: 400</span>
          <span>size: 13pt</span>
        </div>
      </div><div class="mt-6 border-t py-4">
        <p style="font-size: 10pt; font-weight: 400;">Hello world</p>
        <div class="flex gap-6 text-slate-500 font-mono">
          <span>caption</span>
          <span>weight: 400</span>
          <span>size: 10pt</span>
        </div>
      </div>
    </div>
  </section>
</DocsLayout>
